<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/home']">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item>
      <ion-label>Artikel:</ion-label>
      <ion-input inputmode="text" [clearInput]="true" [(ngModel)]="article"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Preis:</ion-label>
      <ion-input inputmode="decimal" [(ngModel)]="price"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="addToList()">Artikel hinzufügen</ion-button>
</ion-content>
