<ion-content>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/home">
      <ion-icon name="return-up-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-item>
    <ion-label>Artikel:</ion-label>
    <ion-input [(ngModel)]="article" (ionInput)="onSearch()"></ion-input>
  </ion-item>
  <ion-item *ngIf="suggestions.length > 0">
    <ion-label>Vorschläge:</ion-label>
    <ion-list>
      <ion-item button *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
        {{ suggestion }}
      </ion-item>
    </ion-list>
  </ion-item>
  <ion-item>
    <ion-label>Preis:</ion-label>
    <ion-input inputmode="decimal" [(ngModel)]="price"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="addToList()" [disabled]="!article || !price">Artikel hinzufügen</ion-button>
</ion-content>
