<ion-content [fullscreen]="true">
  <div id="container">
    <div class="shopping_list ion-padding-top">
      <ion-item *ngFor="let item of items; let itemIndex=index">
        <div class="text-space-to-the-right">{{ item.price | number:'1.2-2' }} € &#10162;</div>
        <div class="text-dark-grey">{{item.name}}</div>
        <ion-button color="secondary" (click)="delItem(itemIndex)" slot="end"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-button>
      </ion-item>
    </div>
    <ion-card>
      <ion-card-header color="dark">
        <ion-card-title>Summe: {{ shopping_cart | number:'1.2-2' }} €</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chevron-back-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button [routerLink]="['/scanner']">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button [routerLink]="['/add']">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
